@using PRNProject.Models
@model Student
<link href="~/css/StyleStudentProfile.css" rel="stylesheet" />
<div>
    <form id="frm">
        <div class="row student-info-wrapper">
            <div class="col-md-4 student-image">
                <img src="https://scontent.fhan3-5.fna.fbcdn.net/v/t1.6435-9/198168151_1953884724758947_5206652219466023165_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=2q_ZdavHIdEAX9VI8y5&_nc_ht=scontent.fhan3-5.fna&oh=00_AT8tv08i2n6ppfcLf1B8rjiFW_xQz7BQkEFV0FycT1xFMg&oe=62F3F14B" class="student-image img-thumbnail" />
            </div>
            <div class="col-md-8 flex flex-column student-info">
                <input type="hidden" value="@Model.StudentId" id="student-id" readonly />
                <div class="item">
                    <label class="item-name" for="roll">Roll: </label>
                    <input value="@Model.Roll" id="roll" readonly name="s.Roll" />
                </div>
                <div class="student-name flex">
                    <div class="item">
                        <label class="item-name" for="first-name">First Name: </label>
                        <input value="@Model.FirstName" id="first-name" disabled aria-label="disabled" name="s.FirstName" />
                    </div>
                    <div class="item">
                        <label class="item-name" for="mid-name">Mid Name: </label>
                        <input value="@Model.MidName" id="mid-name" disabled aria-label="disabled" name="s.MidName" />
                    </div>
                </div>
                <div class="item">
                    <label class="item-name" for="last-name">Last Name: </label>
                    <input value="@Model.LastName" id="last-name" disabled aria-label="disabled" name="s.LastName" />
                </div>
                <div class="item">
                    <label class="item-name" for="student-address">Address: </label>
                    <input type="text" value="@Model.User.Address" class="student-address" id="student-address" disabled aria-label="disabled" name="a.Address" />
                </div>
                <div class="item">
                    <label class="item-name" for="student-email">Email: </label>
                    <input type="text" value="@Model.User.Email" class="student-email" id="student-email" disabled aria-label="disabled" name="a.Email" />
                </div>
                <div class="item">
                    <label class="item-name" for="student-phone">Phone: </label>
                    <input type="text" value="@Model.User.Phone" class="student-phone" id="student-phone" disabled aria-label="disabled" name="a.Phone" />
                </div>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-success" id="edit-btn">Edit</button>
    <button type="button" class="btn btn-success" id="save-btn">Save</button>
    <button type="button" class="btn btn-success" id="cancel-btn">Cancel</button>
    <span id="message"></span>
</div>
<script>
            document.getElementById('edit-btn').addEventListener('click', function () {
            document.querySelectorAll('input[aria-label="disabled"]').forEach(x => {
                x.disabled = false;
            });
            document.getElementById('edit-btn').style = "display: none;";
            document.getElementById('cancel-btn').style = "display: inline-block;";
            document.getElementById('save-btn').style = "display: inline-block;";
        });
        document.getElementById('cancel-btn').addEventListener('click', function () {
        $.post({
            url: "/Account/GetInfor",
            success: function (response) {
                const myArr = JSON.parse(response);
                document.getElementById('first-name').value = myArr.FirstName;
                document.getElementById('mid-name').value = myArr.MidName;
                document.getElementById('last-name').value = myArr.LastName;
                document.getElementById('student-address').value = myArr.Address;
                document.getElementById('student-phone').value = myArr.Phone;
                document.getElementById('student-email').value = myArr.Email;
            }
        });
        document.querySelectorAll('input[aria-label="disabled"]').forEach(x => {
            x.disabled = true;
        });
        document.getElementById('edit-btn').style = "display: inline-block;";
        document.getElementById('cancel-btn').style = "display: none;";
        document.getElementById('save-btn').style = "display: none;";
    });
    document.getElementById('save-btn').addEventListener('click', function () {
        var formData = new FormData(document.getElementById('frm'));
        $.post({
            url: '/Student/UpdateProfile',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                document.getElementById('message').innerHTML = response;
            }
        });
        document.querySelectorAll('input[aria-label="disabled"]').forEach(x => {
            x.disabled = true;
        });
        document.getElementById('edit-btn').style = "display: inline-block;";
        document.getElementById('cancel-btn').style = "display: none;";
        document.getElementById('save-btn').style = "display: none;";
    });
</script>