@using PRNProject.Models
@model Curiculum
<link href="~/css/StyleAcademicTranscript.css" rel="stylesheet" />
<div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Academic Transcript</li>
        </ol>
    </nav>
    <h1 class="title">
        Academic Transcript
    </h1>
    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Term NO</th>
                        <th scope="col">Semeter</th>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CuriculumSubjects.Count; i++)
                    {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@Model.CuriculumSubjects.ToList()[i].TermNo</td>
                            <td>
                                @if (ViewBag.StudentCourses[i] != null)
                                {
                                    @ViewBag.StudentCourses[i].Course.Term.TermName
                                }
                            </td>
                            <td>@Model.CuriculumSubjects.ToList()[i].Subject.SubjectCode</td>
                            <td>@Model.CuriculumSubjects.ToList()[i].Subject.SubjectName</td>
                            <td>
                                @if (ViewBag.StudentCourses[i] != null)
                                {
                                    @ViewBag.StudentCourses[i].Mark
                                }
                            </td>
                            <td class="status">
                                    @if (ViewBag.StudentCourses[i] != null)
                                    {
                                        if (ViewBag.StudentCourses[i].Mark >= 5)
                                        {
                                            <button type="button" class="btn btn-success">Passed</button>
                                        }
                                        else if (ViewBag.StudentCourses[i].Mark is null)
                                        {   
                                            <button type="button" class="btn btn-primary">Studying</button>
                                        }
                                        else
                                        {   
                                            <button type="button" class="btn btn-danger">Failed</button>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-secondary">Not started</button>
                                    }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <form action="/Student/Export" method="post">
            <input type="submit" value="Export to Excel" />
        </form>
    </div>
</div>
<script>
    document.querySelectorAll('#status-button').forEach(button => {
        if(button.innerHTML ==== 'Passed'){
            button.style = "background: green;";
        } else if(button.innerHTML ==== 'Studying'){
            button.style = "background: grey;";
        } else if(button.innerHTML ==== 'Failed'){
            button.style = "background: red;";
        }
    });
</script>